<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>verticalbar-cy</key>
    <string>verticalbar-cy.glif</string>
    <key>verticalbar-cy.case</key>
    <string>verticalbar-cy.case.glif</string>
    <key>zedescender-cy</key>
    <string>zedescender-cy.glif</string>
  </dict>
</plist>
