<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>771E837E-C6AE-43CE-A8A6-7BF0D1D5DEEE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kadescender-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kadescender-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhedescender-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
