<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>700</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Cuprum Project Authors (https://github.com/alexeiva/cuprum), with Reserved Font Name "Cuprum".</string>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>Cuprum</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>-10</integer>
    <key>openTypeHeadCreated</key>
    <string>2016/09/02 13:59:51</string>
    <key>openTypeHheaAscender</key>
    <integer>895</integer>
    <key>openTypeHheaDescender</key>
    <integer>-260</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Jovanny Lemonad</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://jovanny.ru</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Jovanny Lemonad</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://jovanny.ru</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>895</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-260</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1100</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>320</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-210</integer>
      <integer>-200</integer>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>500</integer>
      <integer>510</integer>
      <integer>700</integer>
      <integer>710</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>60</integer>
      <integer>55</integer>
      <integer>65</integer>
      <integer>70</integer>
      <integer>110</integer>
      <integer>130</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>90</integer>
      <integer>50</integer>
      <integer>65</integer>
      <integer>80</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Italic</string>
    <key>trademark</key>
    <string>Cuprum is a trademark of Jovanny Lemonad.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
